<app-header></app-header>
<ion-content class="custom-background" [fullscreen]="true">
  <ion-card>
    <img alt="bistrotlandais" src="./assets/images/bistrotlandais.jpg" />
    <ion-card-header>
      <ion-card-title class="ion-text-center">Le Bistrot Landais</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-center">
      Notre cuisine française vous chouchoutera avec des plats riches en traditions au goût authentique. Essayez nos
      spécialités et nos boissons. Notre excellente cuisine gourmande et nos excellents plats du terroir réservent de
      belles surprises, même à nos clients les plus exigeants. Pendant l’après-midi, nombre d’entre nous aiment déguster
      un chocolat délicat, des biscuits, d’excellentes tartes, un cheesecake, des pains frais, des gâteaux préparés avec
      amour, des fruits, une confiture délicate, des desserts divins, des pâtisseries ou un tiramisu. Un petit-déjeuner
      délicieux, un déjeuner ou un dîner dans notre local ?
    </ion-card-content>
  </ion-card>

</ion-content>
<app-footer></app-footer>