<app-header></app-header>
<ion-content class="custom-background" [fullscreen]="true">
  <ion-card>
    <img alt="bistrotsommelier" src="./assets/images/bistrotsommelier.jpg" />
    <ion-card-header>
      <ion-card-title class="ion-text-center">Le Bistrot du Sommelier</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-center">
      Venez découvrir des accords mets et vins surprenants et savourer les plats réalisés par notre chef Guillaume
      Saluel et sa brigade. Nous travaillons les produits pour leurs saveurs propres, dans le respect des saisons et de
      nos producteurs locaux.
      Nous serons ravis de vous communiquer notre métier, notre passion et de partager un moment de convivialité
      ensemble !
    </ion-card-content>
  </ion-card>

</ion-content>
<app-footer></app-footer>