<app-header></app-header>
<ion-content class="custom-background" [fullscreen]="true">
    <ion-card>
        <img alt="delabrise" src="./assets/images/gastmicher.jpg" />
        <ion-card-header>
            <ion-card-title>Gast Micher</ion-card-title>
        </ion-card-header>

        <ion-card-content class="ion-text-center">
            Les poissons ne mordent
            Pas à l’hameçon,
            Quand ils voient que le fil est trop gros.
            Ils hésitent ;
            Voir ne mordent pas à l’appât,
            Qui leurs sont offert ;
            Les poissons ont du flair.
            Les pêcheurs sont astucieux ;
            Lorsqu’ils leurs présentent
            Un fil plus fin,
            Ils se disent ,
            Qu' ils succomberont aux doux fumets
            Que Dégagent l’appât.
            Parfois l ‘obstination est récompensée ;
            Parfois ils sont contraints à devoir
            Abdiquer.
            Force est Patience ,
            Le poisson n’est pas facilement pêché,
            Il hésite , tournoie autour de l’appât,
            Taquinent celui-ci ;
            Faisant croire au patient pêcheur,
            Qu’il a une touche.
            Le patient pêcheur ,
            Fini par capituler ,
            Rentrant chez lui bredouille ;
            Se promettant que la fois prochaine ,
            Il fera preuve de persévérance et ténacité ,
            Pour enfin obtenir une pêche fructueuse


            Ils ne peuvent pas gagner à tous les coups.
        </ion-card-content>
    </ion-card>

</ion-content>
<app-footer></app-footer>