<app-header></app-header>
<ion-content class="custom-background" [fullscreen]="true">
  <div class="main_content">
    <div class="titre">
      <h2 class="underline-text">Gast Micher</h2>
    </div>

    <ion-card>
      <img alt="villa9trois" class="image" src="./assets/images/gastmicher.jpg" />
      <ion-card class="ion-text-center">
        Les poissons ne mordent
        Pas à l’hameçon,
        Quand ils voient que le fil est trop gros.
        Ils hésitent ;
        Voir ne mordent pas à l’appât,
        Qui leurs sont offert ;
        Les poissons ont du flair.
        Les pêcheurs sont astucieux ;
        Lorsqu’ils leurs présentent
        Un fil plus fin,
        Ils se disent ,
        Qu' ils succomberont aux doux fumets
        Que Dégagent l’appât.
      </ion-card>
    </ion-card>

    <div class="bottom_area">
      <div class="button_div">
        <ion-grid (click)="OnGoToBoats()">
          <ion-row>
            <ion-col>
              <ion-icon class="back" name="return-down-back"></ion-icon>
              <ion-label>Retour</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

  </div>
</ion-content>