<app-header></app-header>
<ion-content class="custom-background" [fullscreen]="true">
    
  <div class="main_content">
    <div class="titre">
      <h2 class="underline-text">Nos Recettes</h2>
    </div>


    <div class="content_div">
      <ion-grid (click)="OnGoToHomard()">
        <ion-row>
            <ion-img src="./assets/images/homard.jpg" alt="homard" class="image"></ion-img>
          <ion-col class="card_text">
            <ion-label> Homard </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>


    <div class="content_div">
        <ion-grid (click)="OnGoToStjacques()">
          <ion-row>
              <ion-img src="./assets/images/stjacques.jpg" alt="stjacques" class="image"></ion-img>
            <ion-col class="card_text">
              <ion-label> Saphir </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="content_div">
        <ion-grid (click)="OnGoToBar()">
          <ion-row>
              <ion-img src="./assets/images/bar.jpg" alt="bar" class="image"></ion-img>
            <ion-col class="card_text">
              <ion-label> Bar </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="content_div">
        <ion-grid (click)="OnGoToTourteau()">
          <ion-row>
              <ion-img src="./assets/images/tourteau.jpg" alt="tourteau" class="image"></ion-img>
            <ion-col class="card_text">
              <ion-label> Tourteau </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    <ion-row class="bottom_area">
        <div class="describe_frame">
            <ion-grid>
                <ion-col>
                <ion-label>Tous les eaux mènes à Thibaut </ion-label>
                <ion-label>06.63.99.99.78 </ion-label>
                <ion-label>lebateaudethibault@gmail.com </ion-label>
                <ion-label>www.facebook.com/lebateaudethibault</ion-label>
                </ion-col>
            </ion-grid>
        </div>
        <div class="button_div">
            <ion-grid (click)="OnGoToContact()">
              <ion-row>
                <ion-col>
                    <ion-icon class="back" name="mail"></ion-icon>
                    <ion-label>Contact</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
    </ion-row>

  </div>
</ion-content>




<!-- <ion-content class="custom-background" [fullscreen]="true">
    <hr>
    <ion-title class="ion-text-center">Recettes</ion-title>
    <hr>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card (click)="OnGoToHomard()">
                    <ion-img src="./assets/images/homard.jpg" alt="homard"></ion-img>
                    <ion-card-header>
                        <ion-card-title class="ion-text-center">Homard</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card (click)="OnGoToStjacques()">
                    <ion-img src="./assets/images/stjacques.jpg" alt="stjacques"></ion-img>
                    <ion-card-header>
                        <ion-card-title class="ion-text-center">St Jacques</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card (click)="OnGoToBar()">
                    <ion-img src="./assets/images/bar.jpg" alt="gastmicher"></ion-img>
                    <ion-card-header>
                        <ion-card-title class="ion-text-center">Bar</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card (click)="OnGoToTourteau()">
                    <ion-img src="./assets/images/tourteau.jpg" alt="aquilon"></ion-img>
                    <ion-card-header>
                        <ion-card-title class="ion-text-center">Tourteau</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)="OnGoToContact()" shape="round" size="Large" color="light">
                    <ion-text class="ion-text-end">Contact</ion-text>
                    <ion-icon name="person-outline" class="ion-padding-start"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="OnGoToContact()" shape="round" size="Large" color="light">
                    <ion-text class="ion-text-end">Contact</ion-text>
                    <ion-icon name="person-outline" class="ion-padding-start"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content> -->