<app-header></app-header>
<ion-content class="custom-background" [fullscreen]="true">
    <ion-card>
        <img alt="delabrise" src="./assets/images/aquilon.jpg" />
        <ion-card-header>
            <ion-card-title>Saphir</ion-card-title>
        </ion-card-header>

        <ion-card-content class="ion-text-center">
            C’est un tout petit poisson
            Qui n’avait pas de don
            Mais qui sait lire même en califourchon
            «Sans âmes»:décodait-il à chaque hameçon
            Donc ce n’est qu’un bout de ver collé au plomb
            Qui mène au pécheur,nouant déjà son torchon
            Oh,non!Que,non!
            Je proteste contre toute marmite ou tout chaudron
            Son estomac ne sera jamais mon horizon
            Plutôt mourir dans l’océan,
            Dans l’eau,bien au fond !
            Entre un orque et un espadon
            Entre un requin et un calamar géant
            Là au moins,un peu de moi sera comme le vent
            Et valsera en ce bleu si fascinant.
        </ion-card-content>
    </ion-card>

</ion-content>
<app-footer></app-footer>