<app-header></app-header>
<ion-content class="custom-background" [fullscreen]="true">
  <ion-card>
    <img alt="noixstjacques" src="./assets/images/noixstjacques.jpg" />
    <ion-card-header>
      <ion-card-title>Noix de Saint-Jacques flambées au Cognac</ion-card-title>
      <ion-card-subtitle>Niveau : Facile | Temps : 20 min</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-list>
        <ion-item>Faire fondre du beurre avec des échalotes puis ajouter les noix de Saint-Jacques.</ion-item>
        <ion-item>Les faire revenir en laissant le milieu translucide puis les retirer du feu.</ion-item>
        <ion-item>Ajouter l'ail et le persil dans la poêle et laisser cuire quelques secondes.</ion-item>
        <ion-item>Bien faire chauffer la poêle, puis flamber au Cognac.</ion-item>
        <ion-item>Une fois la flamme éteinte, ajouter les noix de Saint-Jacques ( il ne faut pas les flambées car elles
          perdraient leur saveur ), le vin blanc et laisser réduire de moitié.</ion-item>
        <ion-item>Incorporer la crème et laisser épaissir.</ion-item>
        <ion-item>Retirer du feu une fois que la sauce nappe la cuillère.</ion-item>
        <ion-item>Déguster chaud nature ou accompagné d'une fondue de poireaux.</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
<app-footer></app-footer>