<app-header></app-header>
<ion-content class="custom-background" [fullscreen]="true">

  <div class="div-content">
    <ion-list class="list" *ngIf="dataok && dataok.length">
      <ion-item *ngFor="let product of dataok">
        <ion-label>{{product.name}}</ion-label>
        <ion-text>{{product.price}} € </ion-text>
        <ion-button class="add-button" (click)="addToBasket(product)">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<app-footer></app-footer>