.main_content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  //border-radius: 5px;
  margin-top: 100px;

    h2{
      color: var(--ion-color-light);
      font-weight: 750;
      font-style: italic;
      font-size: 20px;
      margin-bottom: 50px;
  }



  .content_div {
    background: rgba(0, 0, 0, 0.4);
    width: 95%;
    border-radius: 4px;
    font-weight: bold;

    padding-top: 0px;
    margin: 5px 0px 10px;

    ion-grid{
      --ion-grid-padding: 10px;

      --ion-grid-padding-xs: 10px;
      --ion-grid-padding-sm: 10px;
      --ion-grid-padding-md: 10px;
      --ion-grid-padding-lg: 10px;
      --ion-grid-padding-xl: 10px;

      --ion-grid-column-padding: 10px;

      --ion-grid-column-padding-xs: 20px;
      --ion-grid-column-padding-sm: 20px;
      --ion-grid-column-padding-md: 20px;
      --ion-grid-column-padding-lg: 20px;
      --ion-grid-column-padding-xl: 20px;

      ion-col{
        color: var(--ion-color-light);
        font-weight: bold;
        font-style: italic;
        font-size: 18px;
        margin-top: 5px;
      }
    }


  }

}
