<app-header></app-header>
<ion-content class="custom-background" [fullscreen]="true">
    <ion-title class="ion-text-center">Contact</ion-title>
    <ion-card>
        <img src="./assets/images/pecheur.jpg" alt="pecheur">
        <ion-card-header>
            <ion-card-title>Informations de contact</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <p><strong>Numéro de téléphone:</strong> +33 6 63 99 99 78</p>
            <p><strong>Adresse e-mail:</strong> lebateauthibault@gmail.com</p>
            <p><strong>Réseaux sociaux:</strong></p>
            <br>
            <ion-button color="dark" href=" LIEN_VERS_VOTRE_PAGE_FACEBOOK" shape="round" expand="full">
                <ion-text class="ion-text-start">Facebook</ion-text>
                <ion-icon name="logo-facebook"></ion-icon>
            </ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
<app-footer></app-footer>