<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="OnGoToHome()" color="dark">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Bateau Thibault</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="OnGoToPanier()">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>