<app-header></app-header>
<ion-content class="custom-background" [fullscreen]="true">
  <ion-card>
    <img alt="villa9trois" src="./assets/images/villa9trois.jpg" />
    <ion-card-header>
      <ion-card-title class="ion-text-center">La Villa 9 Trois</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-center">
      Le restaurant gastronomique Villa9Trois, lieu paisible et verdoyant à deux pas de Paris et du bois de Vincennes,
      vous propose une cuisine simple et raffinée mise en valeur par une cave de plus de 200 références de vins et une
      des plus riches sélections de whiskies et de rhums en Ile-de-France.

      Entouré d’un jardin arboré, le restaurant vous propose une belle terrasse en été et une salle avec cheminée en
      hiver à quelques pas du centre de Montreuil. Lieu idéal pour vos repas d’affaires, cosy et accueillant, le
      restaurant dispose de deux salons privés.
    </ion-card-content>
  </ion-card>

</ion-content>
<app-footer></app-footer>