<app-header></app-header>
<ion-content class="custom-background" [fullscreen]="true">
    <ion-card>
        <img alt="delabrise" src="./assets/images/saphir.jpg" />
        <ion-card-header>
            <ion-card-title>Saphir</ion-card-title>
        </ion-card-header>

        <ion-card-content class="ion-text-center">
            Il flotte
            mon bouchon
            il danse
            sur la vague
            j'ai les yeux
            dans le vague
            et pas sur l'hameçon.


            Il flotte
            mon bouchon
            soudain
            fait un plongeon
            je ferre
            tombe en arrière
            mon bouchon part en vrille
            mon butin s'éparpille
            je m'écrie : ouille ouille ouille
            et je rentre bredouille.
        </ion-card-content>
    </ion-card>

</ion-content>
<app-footer></app-footer>