<app-header></app-header>
<ion-content class="custom-background" [fullscreen]="true">
  <div class="main_content">
    <div class="titre">
      <h2 class="underline-text">La cuisson du Tourteau</h2>
    </div>

    <ion-card>
      <img alt="bistrotgascon" class="image" src="./assets/images/tourteaucuisson.jpg" />
      <ion-card class="ion-text-center">
        Dans une quantité d'eau suffisante ajouter les éléments du court-bouillon et laisser chauffer jusqu'à
        ébullition.
        Plonger le tourteau pattes en bas.
        Maintenir quelques secondes le crabe immergé pour qu'il se remplisse d'eau et que la cuisson puisse commencer
        immédiatement.
        Laisser cuire 10 minutes à frémissement.
        Arrêter la cuisson et couvrir 10 minutes
        Sortir le tourteau et le laisser refroidir à température ambiante.
        La chair du crabe se trouve principalement dans les pinces et les pattes.
      </ion-card>
    </ion-card>

    <div class="bottom_area">
      <div class="button_div">
        <!-- <ion-grid (click)="OnGoToRestaurants()"> -->
          <ion-grid>
          <ion-row>
            <ion-col>
                <ion-icon class="back" name="return-down-back"></ion-icon>
                <ion-label>Retour</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

  </div>
</ion-content>



<!-- <app-header></app-header>
<ion-content class="custom-background" [fullscreen]="true">
  <ion-card>
    <img alt="tourteaucuisson" src="./assets/images/tourteaucuisson.jpg" />
    <ion-card-header>
      <ion-card-title>La cuisson du Tourteau</ion-card-title>
      <ion-card-subtitle>Niveau : Facile | Temps : 10 min</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-list>
        <ion-item>
          Dans une quantité d'eau suffisante ajouter les éléments du court-bouillon et laisser chauffer jusqu'à
          ébullition.
        </ion-item>
        <ion-item>
          Plonger le tourteau pattes en bas.
        </ion-item>
        <ion-item>
          Maintenir quelques secondes le crabe immergé pour qu'il se remplisse d'eau et que la cuisson puisse commencer
          immédiatement.
        </ion-item>
        <ion-item>
          Laisser cuire 10 minutes à frémissement.
        </ion-item>
        <ion-item>
          Arrêter la cuisson et couvrir 10 minutes
        </ion-item>
        <ion-item>
          Sortir le tourteau et le laisser refroidir à température ambiante.
        </ion-item>
        <ion-item>
          La chair du crabe se trouve principalement dans les pinces et les pattes.
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
<app-footer></app-footer> -->