<app-header></app-header>
<ion-content class="custom-background" [fullscreen]="true">
  <div class="main_content">
    <div class="titre">
      <h2 class="underline-text">Les fous de l'île</h2>
    </div>

    <ion-card>
      <img alt="lesfousdelile" class="image" src="./assets/images/lesfousdelile.jpg" />
      <ion-card class="ion-text-center">
        Véritable institution de l’Ile-Saint-Louis, Les Fous de l’île connaît une deuxième jeunesse en 2008 sous
        l’impulsion des Becs Parisiens, qui ont su insuffler leur sens du cool et de l’hospitalité décontractée à cette
        adresse centenaire qui a plus d’un tour dans son sac pour vous séduire.
        Typique et canaille juste ce qu’il faut pour ne pas perdre son âme, cette joyeuse volière menée par la
        pétillante directrice Caroline Jamois assure un service aux petits oignons et que du bon dans l’assiette.
      </ion-card>
    </ion-card>

    <div class="bottom_area">
      <div class="button_div">
        <ion-grid (click)="OnGoToRestaurants()">
          <ion-row>
            <ion-col>
              <ion-icon class="back" name="return-down-back"></ion-icon>
              <ion-label>Retour</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

  </div>
</ion-content>



<!-- <app-header></app-header>
<ion-content class="custom-background" [fullscreen]="true">
  <ion-card>
    <img alt="lesfousdelile" src="./assets/images/lesfousdelile.jpg" />
    <ion-card-header>
      <ion-card-title class="ion-text-center">Les fous de l'île</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-center">
      Véritable institution de l’Ile-Saint-Louis, Les Fous de l’île connaît une deuxième jeunesse en 2008 sous
      l’impulsion des Becs Parisiens, qui ont su insuffler leur sens du cool et de l’hospitalité décontractée à cette
      adresse centenaire qui a plus d’un tour dans son sac pour vous séduire.



      Typique et canaille juste ce qu’il faut pour ne pas perdre son âme, cette joyeuse volière menée par la
      pétillante directrice Caroline Jamois assure un service aux petits oignons et que du bon dans l’assiette.



      La cuisine, le chef des fourneaux Jonathan Lafon la voit avant tout comme un moment de partage depuis la création
      des plats jusqu’à la dégustation en salle. Lisible mais loin d’être ennuyeuse, parfois audacieuse mais toujours
      juste, sa cuisine se veut avant tout généreuse et conviviale. De celles qui passent les modes et les saisons
      sans sourciller et qui ne déçoivent jamais.



      Même générosité côté vins avec une carte aussi riche que bien sourcée. Plaçant la convivialité au cœur de
      sa sélection, l’équipe a fait le pari audacieux des grands contenants avec, fait rare, un beau choix de magnums
      et de Jéroboam : des bouteilles festives prédestinées aux grandes tablées.



      Une adresse de cœur comme on n’en fait plus assez, dans laquelle on aime venir et revenir pour passer un savoureux
      moment, gâté par une équipe qui a l’art du recevoir sans chichi et de l’accueil chaleureux.
    </ion-card-content>
  </ion-card>

</ion-content>
<app-footer></app-footer> -->