<app-header></app-header>
<ion-content class="custom-background" [fullscreen]="true">

  <div class="divContent">
    <ion-grid *ngIf="cartArray && cartArray.length">
      <ion-row class="header-row">
        <ion-col class="header-col">Nom</ion-col>
        <ion-col class="header-col">Prix</ion-col>
        <ion-col class="header-col">Quantité</ion-col>
        <ion-col class="header-col">Prix Total</ion-col>
      </ion-row>

      <ion-row *ngFor="let item of cartArray" class="data-row">
        <ion-col>{{ item.name }}</ion-col>
        <ion-col>{{ item.price }} €</ion-col>
        <ion-col>
          <ion-button fill="clear" (click)="decrementQuantity(item)">-</ion-button>
          {{ item.quantity }}
          <ion-button fill="clear" (click)="incrementQuantity(item)">+</ion-button>
        </ion-col>
        <ion-col>{{ item.totalPrice }} €</ion-col>
      </ion-row>
    </ion-grid>
    <div *ngIf="!cartArray || cartArray.length === 0" class="empty-cart">Le panier est vide.</div>
  </div>
</ion-content>
<app-footer></app-footer>