<app-header></app-header>
<ion-content class="custom-background" [fullscreen]="true">

  <div class="divContent">
    <ion-list class="list-panier" *ngIf="cartArray && cartArray.length">
      <ion-item *ngFor="let item of cartArray" lines="none">
        <ion-label slot="start">{{ item.name }}</ion-label>
        <ion-note slot="start" class="total-price">{{ item.totalPrice }} €</ion-note>
        <ion-button class="add-button" fill="clear" (click)="decrementQuantity(item)">
          <ion-icon name="remove-outline"></ion-icon>
        </ion-button>
        <ion-text class="price">x{{ item.quantity }}</ion-text>
        <ion-button class="add-button" fill="clear" slot="end" (click)="incrementQuantity(item)">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
    <div *ngIf="!cartArray || cartArray.length === 0" class="empty-cart">Le panier est vide.</div>
  </div>

  <ion-grid class="order-summary" *ngIf="cartArray && cartArray.length">
    <ion-row>
      <ion-col class="infoCommande" size="6">
        Adresse de récupération : {{ address }}
      </ion-col>
      <ion-col class="OrderPrice" size="6">
        Total : {{ calculateTotalPrice() }} €
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="infoCommande" size="6">
        Date de récupération : {{ pickupDate | date:'medium' }}
      </ion-col>
      <ion-col size="6">
        <ion-button shape="round" color="dark" expand="full" (click)="validateOrder()">Valider</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>