.list-panier {
    background-color: transparent;
    width: 80%;
    /* Ajustez la largeur selon vos besoins */
    margin: 0 auto;
    /* Centre la liste horizontalement */
}

.titre {
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: larger;
    text-align: center;
    margin-top: 80px;

}


.divContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    /* Centre la liste verticalement */
}

ion-item {
    --background: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    font-style: italic;
}

.OrderPrice {
    font-weight: bold;
    font-style: italic;
    font-size: x-large;
    align-items: center;
    justify-content: center;
    top: 30px;
}

.infoCommande {
    text-align: left;
    font-size: small;
}

.order-summary {
    width: 350px;
    margin-top: 20px;
    /* Ajoute une marge en haut du composant */
    background-color: #f4f4f4;
    /* Couleur de fond */
    padding: 10px;
    /* Ajoute un rembourrage à l'intérieur du composant */
    border-radius: 8px;
    /* Ajoute une bordure arrondie */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Ajoute une légère ombre */

    ion-grid {
        ion-row {
            border-bottom: 1px solid #ddd;
            /* Ajoute une ligne de séparation entre chaque ligne */
            padding: 8px 0;
            /* Ajoute un peu d'espace autour du texte dans chaque ligne */

            ion-col {
                font-weight: bold;
                /* Rend le texte en gras */
            }
        }

        ion-button {
            margin-top: 10px;
            /* Ajoute de l'espace au-dessus du bouton */
        }
    }
}

.add-button {
    --background: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
    color: white;
}


.price {
    font-size: 14px;
    font-weight: normal;
    color: white;
    width: 100px;
    text-align: center;
    justify-content: center;
}

.total-price {
    font-size: 14px;
    font-weight: normal;
    color: white;
}

.empty-cart {
    text-align: center;
    color: white;
    font-style: italic;
}

ion-grid {
    margin-top: 20px;
}

.header-row,
.data-row {
    border-bottom: 1px solid #ccc;
}

.header-col,
ion-col {
    text-align: center;
    padding: 10px;
}

.empty-cart {
    text-align: center;
    margin-top: 20px;
}

ion-card {
    all: unset;
}