<app-header></app-header>
<ion-content class="custom-background" [fullscreen]="true">
  <ion-card>
    <img alt="homardchaudfroid" src="./assets/images/homardchaudfroid.jpeg" />
    <ion-card-header>
      <ion-card-title>Le Homard en chaud-froid</ion-card-title>
      <ion-card-subtitle>Niveau : Facile | Temps : 20 min</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-list>
        <ion-item>
          Laissez les homards 6 h environ à température ambiante ou mettez-les sous un filet d’eau tiède puis dans de
          l’eau froide 1 h pour hâter la décongélation. Sectionnez les queues des homards. Plongez les têtes et les
          pinces dans 2 l de court-bouillon frémissant 5 min pour les réchauffer. Egouttez-les et détachez les pinces.
          Brisez-les avec un marteau. Prélevez les pattes et gardez les plus grosses.
        </ion-item>
        <ion-item>
          Découpez les coffres des homards dans le sens de la longueur. Prélevez le corail et éliminez le reste de
          l’intérieur. Rincez et épongez les moitiés de coffres. Réservez.
        </ion-item>
        <ion-item>
          Mélangez la mayonnaise avec le cognac, le corail et la ciboulette ciselée. Incorporez le blanc d’œuf monté en
          neige ferme. Garnissez les demi-coffres de mayonnaise au cognac.
        </ion-item>
        <ion-item>
          Fendez les queues de homard dans le sens de la longueur. Salez et poivrez-les puis, faites-les cuire dans une
          poêle et le beurre chaud 5 min sur chaque face.
        </ion-item>
        <ion-item>
          Servez les moitiés de homard avec des quartiers de citron. Dégustez aussitôt.
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
<app-footer></app-footer>