<app-header></app-header>
<ion-content class="custom-background" [fullscreen]="true">
  <ion-card>
    <img alt="bistrotgascon" src="./assets/images/bistrotgascon.jpg" />
    <ion-card-header>
      <ion-card-title class="ion-text-center">Le Bistrot Des Gascons</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      Situé dans le 7ème arrondissement de Paris, le restaurant Le Bistrot des Gascons vous accueille dans un cadre
      moderne et convivial pour vous faire découvrir des traditions culinaires Made in France.
    </ion-card-content>
  </ion-card>

</ion-content>
<app-footer></app-footer>