
<app-header></app-header>
<ion-content class="custom-background" [fullscreen]="true">
  <div class="main_content">
    <div class="titre">
      <h2 class="underline-text">Le Bar rôti au Laurier Frais</h2>
    </div>

    <ion-card>
      <img alt="bistrotgascon" class="image" src="./assets/images/barroti.jpg" />
      <ion-card class="ion-text-center">
          Préchauffer le four à 240 °C.
          A l'aide d'un écailleur, gratter le bar pour retirer les écailles, puis vider le ventre du poisson (ou
            le faire
            écailler et vider par votre poissonnier). et glisser le gros sel à l'intérieur. Inciser ensuite la peau pour
            pouvoir y glisser quelques feuilles de laurier frais.
          Sur une plaque ou un plat allant au four, verser un filet d'huile d'olive et du gros sel. Disposer le
            bar, puis l'arroser d'un filet d'huile d'olive et mettre un peu de gros sel sur la peau. Cuire au four pendant
            12 min à 240 °C. Etc..

      </ion-card>
    </ion-card>

    <div class="bottom_area">
      <div class="button_div">
        <!-- <ion-grid (click)="OnGoToRestaurants()"> -->
          <ion-grid>
          <ion-row>
            <ion-col>
                <ion-icon class="back" name="return-down-back"></ion-icon>
                <ion-label>Retour</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

  </div>
</ion-content>

<!-- <app-header></app-header>
<ion-content class="custom-background" [fullscreen]="true">
  <ion-card>
    <img alt="barroti" src="./assets/images/barroti.jpg" />
    <ion-card-header>
      <ion-card-title>Le Bar rôti au Laurier Frais</ion-card-title>
      <ion-card-subtitle>Niveau : Moyen | Temps : 30 min</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-list>
        <ion-item>Préchauffer le four à 240 °C.</ion-item>
        <ion-item>A l'aide d'un écailleur, gratter le bar pour retirer les écailles, puis vider le ventre du poisson (ou
          le faire
          écailler et vider par votre poissonnier). et glisser le gros sel à l'intérieur. Inciser ensuite la peau pour
          pouvoir y glisser quelques feuilles de laurier frais.
        </ion-item>
        <ion-item>Sur une plaque ou un plat allant au four, verser un filet d'huile d'olive et du gros sel. Disposer le
          bar, puis l'arroser d'un filet d'huile d'olive et mettre un peu de gros sel sur la peau. Cuire au four pendant
          12 min à 240 °C.
        </ion-item>
        <ion-item>Rincer le riz basmati sous un filet d'eau claire, puis le mettre dans une casserole et le couvrir
          d'eau. Ajouter du gros sel et faire cuire à feu doux durant 10 min en maintenant l'ébullition.
          Au terme de la cuisson, ajouter la crème épaisse et le parmesan râpé, puis mélanger.
        </ion-item>
        <ion-item>Arroser le bar rôti d'un dernier filet d'huile d'olive et le parsemer de fleur de sel, puis
          l'accompagner du riz moelleux au parmesan.
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
<app-footer></app-footer> -->